.marginAntes {
    margin-top: 18px;
}

.cardInteiro {
    margin: 32px;
    background-color: rgba(239, 239, 239, 1);
    transition: transform 0.3s ease;
}

.cardInteiro:hover {
    transform: scale(1.1);
    background-color: #ffe0e7;
}

.cardImagemFinal {
    padding: 20px;
}

.cardTexto {
    padding: 20px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}