.navbar{
    background-color:white ;
    color: black;
}

.div-logo{
height: 150px;
width: 260px;
}

.fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.altura {
    height: 100px;
}
